.field{
    position: absolute;
   font-size: 20px;
}
h3{
    width: 270px;
    margin-top: 0;
    font-size: 50px;
    color: rgb(182, 73, 73);
    background-color: #f8c3f8;
    /* align-items: center; */
    text-align: center;
}
button{
    margin: 0;
    position: absolute;
    top: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container{
    position:absolute;
    transform: translate(50%, 50%);
    left: 30%;
}
table{
    background-color: steelblue;
    color: rgb(255, 254, 254);
    border: black dotted;
    margin-top: 10px;
    text-align: center;
    width: 120%;
}
/* 1. User uploads a csv or xlsx files by drag and drop from his local storage.
2. A progress bar should indicate the status of the uploaded file
3. Column names should be saved to be used for the next pages
4. Once the file is uploaded:
a. User should indicate if file contains Headers or not
b. User must select from a drop down list of column name what is the column name that contains Text [required]
c. User can choose the column column name that contains Date [optional]
5. Once user completes selecting the required informations he presses the button submit and a message All done! appears */
